<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/login.css">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/postDetails.css">
  
 <% if(user){ %> 
    <li>Welcome <%= user.email %> </li>
    <li><a href="/logout">logout</a></li>
    <%} else{ %> 
      <li><a href="/login">login</a></li>
      <li><a href="/signup">signup</a></li>
      <% } %> 
  <title>Blog | </title>
</head>